text.txt
.idea/
notgood.txt
__pycache__/
proj2_input_file_for_ticket2.csv
Proj3_converttoHtml.py
Proj3_result.html
Proj3_url.csv
proj4_redirect_history.py
proj4_result.csv
proj4_result.html
proj5_proxy.py
proj6_multi_get_status.py
proj1.py
